.container{
    padding: 5vh;
    background-color: rgb(103, 95, 255);
    border-radius: 2%;
    margin: 10px auto;
}
#header{
    padding: 6px;
    margin:auto;
}

main{
    background-color: rgb(190, 249, 248);
    padding:25px ;
    border-radius: 2%;
}